ul {
  list-style: none;
  padding: 0 5 rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(246, 240, 240);
}

.accent {
  background-color: rgb(137, 108, 210);
}

/* .spacer {
  flex: 1 1 auto
} */
