<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        [ngModel]="post?.title"
        matInput
        #title="ngModel"
        name="title"
        type="text"
        placeholder="Post title"
        required
      />
      <mat-error *ngIf="title.invalid"> please enter a post title </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        class="MatFormFieldControl"
        MatInput
        matNativeControl
        rows="4"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Post content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">
        please enter a post content
      </mat-error>
    </mat-form-field>
    <button id="btn" color="primary" type="submit">Save post</button>
  </form>
</mat-card>
